@import "../../base/base.scss";

.projects {
  min-height: 31.25rem;
  height: auto;
  width: 100vw;
  background-color: $yellow;
  padding-bottom: 3.125rem;
  &__text {
    font-size: map-get($fontSize, medium-large);
    color: $darkBlue;
    font-style: italic;
    font-family: $fontElite;
    text-shadow: 0.09375rem 0.09375rem 0.125rem $white;
    @include textcenter;
    @include margin(15.375rem,auto,3rem,auto);
    width: 75%;
    @include media(computer) {
      font-size: map-get($fontSize,medium);
      @include margin(14.375rem,auto,1.875rem,auto);
    }
    @include media(tablet) {
      font-size: map-get($fontSize,small-plus);
      @include margin(11.875rem,auto,1.875rem,auto);
    }
    @include media(mobile) {
      font-size: map-get($fontSize,x-small);
      margin: 10.625rem auto 1.875rem auto;
    } 
  }
}