@import "../../base/base.scss";

.contact-label {
  color: $white;
  text-shadow: 0.0625rem 0.0625rem 0.0625rem $darkBlue;
  font-size: map-get($fontSize,medium-large);
}

.form-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-form {
  margin: 3rem auto 0;
  margin-bottom: 3.125rem;
  width: 80vw;
  font-family: $fontLobster;
  border: 0.125rem solid $white;
  background: $yellow;
  padding: 0 1.875rem 0.625rem;
  box-shadow: 0px 0.25rem 0.625rem rgba(51, 51, 51, 0.637);
  border-radius: 0.4375rem;
}

.form-title {
  margin: 2.1875rem auto;
  @include textcenter;
  color: $white;
  text-shadow: 0.0625rem 0.0625rem 0.0625rem $darkBlue;
  font-size: 2.1875rem;
}

input,
textarea {
  background: $white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  border: 0.0625rem solid $black;
  color: $black;
  border-radius: 0.4375rem;
  margin-bottom: 0.9375rem;
}
input::placeholder, 
textarea::placeholder {
 color: rgb(107, 103, 103);
 text-align: center;
 padding-bottom: 0.4375rem;
}
input,
.email-content,
textarea {
  width: 90%;
  margin: 0 auto;
}
input {
  padding: 10px auto;
}
.email-content {
  position: relative;
}
.email-content input {
  width: 100%;
}
#not-mail {
  display: none;
  padding-right: 0.625rem;
  position: absolute;
  top: 0.25rem;
  color: $red;
  right: 0;
  transform-origin: 50% 50%;
}

textarea {
  resize: none;
  padding: auto;
}

.button {
  font-size: 1.3rem;
  margin-top: 0.9375rem;
  color: $white;
  background: none;
  border: none ;
  cursor: pointer;
  transition: .2s;
  width: 100%;
  font-family: $fontLobster;
}

.form-message {
  margin-top: 0.625rem;
  padding: 0.75rem;
  opacity: 0;
  transition: 0.2s ease;
  color: $white;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.125rem rgba(51, 51, 51, 0.3);
}

.send_button {
  font-family: $fontLobster;
  border: 0.125rem solid $white;
  color: $darkBlue;
  margin-top: 1.25rem;
  font-size: 1.5625rem;  
}

.contact_bar {
  color: $yellow;
  width: 70%;
  margin: 1.5625rem auto;
  border: 0.1875rem solid $yellow;
}

.mu-social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 0.9375rem;
  border: 0.0625rem solid $grey;
  width: 5rem;
  height: 5rem;
  line-height: 2rem;
  @include textcenter;
  margin: 0.3125rem 0.3125rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
  color: $darkGrey;
  background-color: $white;
}

i.fab.fa-linkedin.fa-2x,
i.fab.fa-github.fa-2x,
i.fab.fa-codepen.fa-2x {
  color: $darkBlue;
}

.mu-resume-btn {
  margin-top: 1.875rem;
  display: inline-block;
  padding: 0.625rem 0.9375rem;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 0.1875rem solid $white;
  color: $white;
  border-radius: 0.5rem;
  font-size: 1.5625rem;
  text-shadow: 0.0625rem 0.0625rem 0.0625rem $darkBlue;
  text-decoration: none;
  &:hover {
    color: $darkBlue;
  }
}

@media screen and (max-width: 64rem) {
  .form-title {
    font-size: 2.0625rem;
  }

  .contact-label {
    font-size: 1.4375rem;
  }

  .send_button {
    font-size: 1.4375rem;  
  }

  .mu-resume-btn {
    font-size: 1.4375rem; 
  }
}

@media screen and (max-width: 48.0625rem) {
  .form-title {
    font-size: 1.875rem;
  }

  .contact-label {
    font-size: 1.3125rem;
  }

  .send_button {
    font-size: 1.3125rem;  
  }

  .mu-resume-btn {
    font-size: 1.3125rem; 
  }
}

@media screen and (max-width: 26.625rem) {
  .form-title {
    font-size: 1.6875rem;
  }
  .contact-label {
    font-size: 1.125rem;
  }
  .send_button {
    font-size: 1.125rem;  
  }
  .contact-form {
    width: 85vw;    
  }

  #name, #email, #message {
    font-size: 0.9375rem;
  }

  .mu-social-media a {
    width: 4.375rem;
    height: 4.375rem;
  }

  .mu-resume-btn {
    font-size: 1.125rem; 
  }
}

