@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

#skills {
  background: linear-gradient(
rgba(0, 0, 0, 0.45),
rgba(0, 0, 0, 0.45)
  ),url(../../assets/images/parallax.webp)no-repeat;
  min-height: 33.25rem;
  padding-bottom: 50px;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.explain {
  margin: 15.9375rem auto 3.95rem auto;
  font-family: 'Special Elite', cursive;
  color: #fff;
  text-shadow: 0.09375rem 0.09375rem 0.125rem rgb(187, 152, 106);
  font-size: 1.5625rem;
  font-style: italic;
  text-align: center;
}

@media screen and (max-width: 1025px) {
  .explain {
    font-size: 23px;
  }
}

@media screen and (max-width: 860px) {
  .explain {
    width: 90vw;
  }
}

@media screen and (max-width: 769px) {
  .explain {
    font-size: 21px;
    width: 90vw;
    margin: 12.9375rem auto 2.95rem auto;
  }
}

/*600px*/
@media screen and (max-width: 37.5rem) {
  .explain {
    margin: 11.5rem auto 1.25rem auto;
  }
}

@media screen and (max-width: 425px) {
  .explain {
    font-size: 18px;
  }
}