@import "../../base/base.scss";

.center,.front-face,.contents,.back-face {
  position: absolute;
}

.center:hover > .back-face {
  transform: rotateY(0deg);
}

.center:hover > .front-face {
  transform: rotateY(-180deg);
}

.center {
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  perspective: 62.5rem;
}

.front-face, .back-face {
  height: 100%;
  width: 100%;
  @include textcenter;
  font-family: $fontOswald;
  background: linear-gradient(rgb(214, 199, 168,0.45),rgb(214, 199, 168,0.45)),url(../../assets/images/card.webp);
  background-size: cover;
  background-position: center;
  border-radius: 0.625rem;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
}

.contents {
  left: 0;
  top: 50%;
  width: 100%;
  perspective: 6.25rem;
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  &.front {
    width: 95%;
    padding: 0.5rem;
    @include textcenter;
    @include flexDisplay;
    flex-direction: column;
  }
  &.back {
    width: 95%;
    padding: 0.5rem;
    @include textcenter;
    @include flexDisplay;
    flex-direction: column;
  }
}

.front p {
  color: $white;
  text-shadow: 0.15625rem 0.15625rem 0.15625rem $black;
  font-size: 2.1875rem;
  margin-bottom: 0.9375rem;
  font-family: $fontOswald;
  @include media(computer) {
    font-size: 33px;
  }
  @include media(tablet) {
    font-size: 30px;
  }
  @include media(mobile) {
    font-size: 27px;
  }
  &:after {
    content: '';
    display: block;
    left: 0;
    right: 0;
    height: 0.125rem;
    width: 6.25rem;
    background: $white;
    margin: 0 auto;
    margin-top: 0.625rem;
  }
}

.front span {
  color: $white;
  text-shadow: 0.15625rem 0.15625rem 0.15625rem $black;
  font-size: map-get($fontSize, medium-large);
  font-weight: bold;
  font-family: $fontOswald;
  @include textcenter;
  @include media(computer) {
    font-size: 23px;
  }
  @include media(tablet) {
    font-size: 21px;
  }
  @include media(mobile) {
    font-size: 18px;
  }
}

.back-face {
  transform: rotateY(180deg);
  background: linear-gradient(45deg, $clearBlue 0%, $darkBlue 100%);
}

.back {
  color: $yellow;
  text-shadow: 0.0625rem 0.0625rem 0.0625rem $white;
}

.back h2 {
  font-size: 2.1875rem;
  padding-bottom: 0.3125rem;
  font-family: $fontOswald;
  @include media(computer) {
    font-size: 33px;
  }
  @include media(tablet) {
    font-size: 30px;
  }
  @include media(mobile) {
    font-size: 27px;
  }
}

.back span {
  font-size: map-get($fontSize, medium-large);
  font-family: $fontOswald;
  @include media(computer) {
    font-size: 23px;
  }
  @include media(tablet) {
    font-size: 21px;
  }
  @include media(mobile) {
    font-size: 18px;
  }
}

@media screen and (max-width: 76.5625rem) {
  .contents.front {
    height: 8.125rem;
  }

  .contents.back {
    height: 8.125rem;
  }
}

@media screen and (max-width: 65rem) {
  .contents.front {
    height: 15.625rem;
  }

  .contents.back {
    height: 15.625rem;
  }
}