@import "../../base/base.scss";

#discover {
  @include width(100vw);
  min-height: 62.5rem;
  @include height(auto);
  background-color: $yellow;
  @include media(very-large) {
    min-height: 63.625rem;
    @include height(auto);
  }
}

.content {
  @include flexDisplay;
  &__box {
    @include height(18.75rem);
    @include width(90vw);
    background-color: $yellow;
  }
  &__presentation {
    font-size: map-get($fontSize,medium-large);
    color: $darkBlue;
    font-style: italic;
    font-family: $fontElite;
    text-shadow: 0.09375rem 0.09375rem 0.125rem $white;
    @include textcenter;
    @include margin(10.625rem,auto,0,auto);  
  }
}
//70.875rem
@media screen and (max-width: 1134px) {
  .presentation {
    font-size: 1.4375rem;
  }

  section#discover {
    min-height: 1030px;
    height: auto;    
  }
}
//50.9375rem
@media screen and (max-width: 815px) {
  section#discover {
    min-height: 1040px;
    height: auto;    
  }
}

@media screen and (max-width: 800px) {
  section#discover {
    min-height: 1070px;
    height: auto;    
  }
}

@media screen and (max-width: 48.0625rem) {
  .presentation {
    font-size: 1.3125rem;
    margin: 9.375rem auto 0 auto;
  } 
}

@media screen and (max-width: 685px) {
  section#discover {
    min-height: 1100px;
    height: auto;    
  }

  .presentation {
    margin-top: 10rem;
  }
}

@media screen and (max-width: 33.75rem) {
  section#discover {
    min-height: 1150px;
    height: auto;    
  }
}

@media screen and (max-width: 26.625rem) {
  .presentation {
    font-size: 1.125rem;
  }
  section#discover {
    min-height: 1170px;
    height: auto;    
  }
}

@media screen and (max-width: 426px) {
  section#discover {
    min-height: 1100px;
    height: auto;    
  }
}

@media screen and (max-width: 410px) {
  section#discover {
    min-height: 1220px;
    height: auto;    
  }
}

@media screen and (max-width: 405px) {
  section#discover {
    min-height: 1250px;
    height: auto;    
  }
}

@media screen and (max-width: 360px) {
  section#discover {
    min-height: 1280px;
    height: auto;    
  }
}

@media screen and (max-width: 320px) {
  section#discover {
    min-height: 1330px;
    height: auto;    
  }
}

@media screen and (max-width: 31.25rem) {
  .presentation {
    font-size: 1.125rem;
    margin-top: 8.75rem;
  }
}