@import "../../base/base.scss";

#discover {
  max-width: 100vw;
  overflow-x: hidden;
  @include width(100vw);
  min-height: 62.5rem;
  @include height(auto);
  background-color: $yellow;
  @include media(very-large) {
    min-height: 63.625rem;
    @include height(auto);
  }
  @include media(m-large) {
    min-height: 64.375rem;
  }
  @include media(l-tablet) {
    min-height: 65rem; 
  }
  @include media(m-tablet) {
    min-height: 66.875rem;
  }
  @include media(xs-tablet) {
    min-height: 68.75rem;
  }
}

.content {
  @include flexDisplay;
  &__box {
    @include height(18.75rem);
    @include width(90vw);
    background-color: $yellow;
  }
  &__presentation {
    font-size: map-get($fontSize,medium-large);
    color: $darkBlue;
    font-style: italic;
    font-family: $fontElite;
    text-shadow: 0.09375rem 0.09375rem 0.125rem $white;
    @include textcenter;
    @include margin(10.625rem,auto,0,auto);
    @include media(m-large) {
      font-size: map-get($fontSize,medium);
    }
    @include media(tablet) {
      font-size: map-get($fontSize,small-plus);
      @include margin(9.375rem,auto,0,auto);
    }
    @include media(xs-tablet) {
      margin-top: 10rem;
    }
    @include media(big-mobile) {
      font-size: 1.125rem;
      margin-top: 8.75rem;
    }  
  }
}

@media screen and (max-width: 33.75rem) {
  #discover {
    min-height: 71.875rem;    
  }
}

@media screen and (max-width: 26.625rem) {
  .content__presentation {
    font-size: 1.125rem;
  }
  #discover {
    min-height: 73.125rem;   
  }
}

@media screen and (max-width: 26.625rem) {
  #discover {
    min-height: 68.75rem;    
  }
}

@media screen and (max-width: 25.625rem) {
  #discover {
    min-height: 76.25rem;    
  }
}

@media screen and (max-width: 25.3125rem) {
  #discover {
    min-height: 78.125rem;    
  }
}

@media screen and (max-width: 22.5rem) {
  #discover {
    min-height: 80rem;    
  }
}

@media screen and (max-width: 20rem) {
  #discover {
    min-height: 83.125rem;    
  }
}