@import "../../base/base.scss";

.header {
  background: linear-gradient(
rgba(0, 0, 0, 0.45),
rgba(0, 0, 0, 0.45)
  ),url(../../assets/images/tech.webp)no-repeat;
  background-size: cover;
  color: $white;
  text-shadow: map-get($shadow, yellowShadow);
  @include width(100vw);
  min-height: 50rem;
  @include flexDisplay;
  flex-direction: column;
  overflow-x: hidden;
  top: 5rem;
  @include media(tablet) {
    @include width(100% !important);
    padding-right: 0 !important;
    padding-left: 0 !important;
    min-height: 45rem;
    padding-top: 8.125rem !important;
  }
  &__name {
    font-size: map-get($fontSize,x-large);
    font-family: $fontElite;
    @include margin(0.9375rem,auto,09375rem,auto);
    @include media(computer) {
      font-size: map-get($fontSize,m-large);
    }
    @include media(tablet) {
      font-size: map-get($fontSize,med-larger);
    }
    @include media(big-mobile) {
      font-size: map-get($fontSize,med-larger);
    }
    @include media(mobile) {
      font-size: map-get($fontSize,m-big);
    }
  }
  &__job {
    font-size: map-get($fontSize,larger);
    font-family: $fontElite;
    @include margin(0.9375rem,auto,0.9375rem,auto);
    @include media(computer) {
      font-size: map-get($fontSize,big);
    }
    @include media(tablet) {
      font-size: map-get($fontSize,large);
    }
    @include media(big-mobile) {
      font-size: map-get($fontSize,medium-plus);
    }
    @include media(mobile) {
      font-size: map-get($fontSize,medium);
    }
  }
  &__describe {
    font-family: $fontElite;
    font-size: map-get($fontSize,medium-large);
    font-style: italic;
    padding: 0.9375rem;
    margin: 0.9375rem auto;
    @include media(computer) {
      font-size: map-get($fontSize,medium);
    }
    @include media(tablet) {
      font-size: map-get($fontSize,small-plus);
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
    @include media(big-mobile) {
      font-size: map-get($fontSize,x-small);
    }
    @include media(mobile) {
      font-size: map-get($fontSize,x-small);
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }
  &__button {
    @include flexDisplay;
    @include border(0.1875rem,$white !important);
    border-radius: 0.625rem;
    color: $white !important;
    font-size: map-get($fontSize,x-small);
    font-weight: bold;
    font-family: $fontElite;
    margin: 0.9375rem auto;
    @include media(big-mobile) {
      font-size: map-get($fontSize,medium-plus);
    }
    @include media(mobile) {
      font-size: map-get($fontSize,very-small);
    }
    &:hover {
      background-color: $white !important;
      @include border(0.1875rem,$black !important);
      color: $black !important;    
    }
  }
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(36deg);
  }

  20% {
    transform: rotate(72deg);
  }

  30% {
    transform: rotate(108deg);
  }

  40% {
    transform: rotate(144deg);
  }

  50% {
    transform: rotate(180deg);
  }

  60% {
    transform: rotate(216deg);
  }

  70% {
    transform: rotate(252deg);
  }

  80% {
    transform: rotate(288deg);
  }

  90% {
    transform: rotate(324deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.avatar {
  @include height(100%);
  @include width(100%);
  @include flexDisplay;
  margin:3.7625rem auto 1.1125rem auto !important;
  @include media(tablet) {
    margin-top: 3.75rem !important;
  }
  @include media(big-mobile) {
    margin: 0.9375rem auto 0 auto !important;
    padding: 3.125rem auto !important;
  }
  &__circle {
    @include height(12.5rem);
    @include width(12.5rem);
    @include border(1.875rem,$blue);
    border-radius: 100%;
    @include flexDisplay;
    @include media(computer) {
      height: 11.5rem !important;
      width: 11.5rem !important;
    }
    @include media(tablet) {
      height: 11rem !important;
      width: 11rem !important;
    }
    @include media(mobile) {
      height: 10rem !important;
      width: 10rem !important;
    }
    &:hover {
      border-color: $white;
      animation-name: turn;
      animation-duration: 1.2s;
      background-color: $white;
      cursor: pointer;
    }
  }
  &__picture {
    @include height(85%);
    @include width(85%);
    border-radius: 100%;
    @include border(0.125rem,$white);
  }
  &__circle:hover &__picture {
    @include border(0.0625rem,$white);
  }
}