@import "../../base/base.scss";

#navigation {
  @include media(small-computer) {
    @include flexDisplay;
    @include padding(0.625rem,auto,0.625rem,auto);
  }
}

#navbarNavDropdown {
  @include media(small-computer) {
    @include flexDisplay;
  }  
}

.collapse:not(.show) {
  @include media(small-tablet) {
    display: none !important;
  }  
}

.brand {
  @include flexDisplay;
  @include padding(0.625rem,auto,0.625rem,auto);
  font-family: $fontElite;
  cursor: pointer;
  &__logo {
    border-radius: 100%;
    @include border(0.125rem,$white);
    @include margin(auto,0.625rem,auto,0.625rem);
    @include width(3.375rem);
    @include height(3.375rem);
  }
}

.navbar {
  max-width: 100vw;
  background-color: $darkBlue !important;
  box-sizing: border-box;
  overflow-x: hidden !important;
  &-brand {
    font-size: map-get($fontSize,large);
    color: $white !important;
    @include media(large) {
      font-size: map-get($fontSize,medium);
    }
    @include media(computer) {
      font-size: map-get($fontSize,other);
    }
    &:hover {
      transform: scale(0.9);
      color: $darkYellow !important;
    }
  }
  &-toggler-icon {
    background-color: $white !important;
    border-radius: 0.3125rem;
  }
}

.nav-link {
  color: $white !important;
  font-family: $fontElite;
  font-size: map-get($fontSize,medium);
  @include margin(auto,1.5625rem,auto,1.5625rem);
  @include media(large) {
    font-size: map-get($fontSize,small) !important;
    @include padding(0,0,0,0 !important);
  }
  @include media(computer) {
    font-size: map-get($fontSize,x-small) !important;
  }
  &:hover {
    transform: scale(1.3);
    color: $darkYellow !important;
  }
}