.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  width: 95vw;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
  background-color: #D6C7A8;
  margin: 3px auto;
  padding: 20px;
  place-items: center !important;
}

@media screen and (max-width: 1025px) {
  .grid-container {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

@media screen and (max-width: 850px) {
  .grid-container {
    padding: 20px 0;
    width: 85vw;
  }
}

@media screen and (max-width: 426px) {
  .grid-container {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 20px 0;
    width: 75vw;
  }
}

@media screen and (max-width: 376px) {
  .grid-container {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 20px 0;
    width: 90vw;
  }
}