@import "../../base/base.scss";

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  width: 95vw;
  gap: 1.5625rem;
  grid-template-columns: 1fr 1fr;
  background-color: $yellow;
  margin: 0.1875rem auto;
  padding: 1.25rem;
  place-items: center !important;
  @include media(computer) {
    grid-template-columns: 1fr;
    gap: 1.875rem;
  }
  @include media(mobile) {
    grid-template-columns: 1fr;
    gap: 1.875rem;
    padding: 1.25rem 0;
    width: 75vw;
  }
}

@media screen and (max-width: 53.125rem) {
  .grid-container {
    padding: 1.25rem 0;
    width: 85vw;
  }
}

@media screen and (max-width: 23.5rem) {
  .grid-container {
    grid-template-columns: 1fr;
    gap: 1.875rem;
    padding: 1.25rem 0;
    width: 90vw;
  }
}