@import "./base/base.scss";

/* APP */
.App {
  @include textcenter;
  @include height(100vh);
  @include width(100%);
  max-width: 100vw !important;
  box-sizing: border-box;
  background-color: $yellow;
  overflow-x: hidden !important;
}