@import "../../base/base.scss";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

.present {
  width: 95%;
  min-height: 300px;
  height: auto;
  border-radius: 8px;
  margin: 15px auto;
  background: #D6C7A8;
  padding: 15px;
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px;
    place-items: center;
    &--icons {
      width: 90px;
      height: 90px;
      border-radius: 100%;
      @include media(big-mobile) {
        width: 80px;
        height: 80px;
        border-radius: 100%;
      }
    }
    &--large-icons {
      width: 90px;
      height: 90px;
      @include media(big-mobile) {
        width: 80px;
        height: 80px;
      }
    }
  }
  &__title {
    font-size: 2.6rem;
    color: #253743;
    font-style: italic;
    font-family: 'Libre Baskerville', serif;
    text-shadow: 0.125rem 0.125rem 0.125rem #fff;
    text-align: center;
    margin: 45px auto;
    @include media(computer) {
      font-size: 35px;
      margin-top: 0;
    }
    @include media(tablet) {
      font-size: 30px;
      margin-top: 5px;
    }
    @include media(big-mobile) {
      font-size: 1.825rem;
      margin-top: 0;
    }
  }
}