/* SASS RULES */
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

/* COLORS */
$white: #fff;
$black: #000;
$blackBlue: #141E30;
$darkBlue: #253743;
$blue: #1e2f45;
$lightBlue: #243B55;
$darkYellow: #A19170;
$yellow: #D6C7A8;

/* FONTS */
$fontElite: 'Special Elite', cursive;
$fontParisienne: 'Parisienne', cursive;
$fontBaskerville: 'Libre Baskerville', serif;
$fontSize: (
  very-large: 3.125rem,
  xl-large: 2.6rem,
  x-large: 2.375rem,
  m-large: 2.25rem,
  med-larger: 2.125rem,
  larger: 1.9375rem,
  m-big: 1.875rem,
  big: 1.8125rem,
  large: 1.6875rem,
  medium-large:  1.5625rem,
  medium-plus: 1.525rem,
  medium: 1.4375rem,
  other: 1.375rem,
  small-plus: 1.3125rem,
  small: 1.25rem,
  x-small: 1.125rem,
  very-small: 0.9375rem
);
$shadow: (
  yellowShadow: 0.09375rem 0.09375rem 0.125rem rgb(187, 152, 106),
);

/* MIXIN */
@mixin flexDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin textcenter {
  text-align: center;
}

@mixin border($size,$color) {
  border: $size solid $color;
}

/* SIZE */
@mixin height($value) {
  height: $value;
}

@mixin width($value) {
  width: $value;
}

@mixin padding($top, $right, $bottom, $left) {
  padding: $top $right $bottom $left;
}

@mixin margin($top, $right, $bottom, $left) {
  margin: $top $right $bottom $left;
}

/* BREAKPOINTS */
$breakpoints: (
  large: 75rem,
  computer: 64.0625rem,
  small-computer: 61.875rem,
  tablet: 48rem,
  small-tablet: calc(767.5px),
  big-mobile: 31.25rem,
  mobile: 26.5625rem,
  small: 25rem
);

/* MEDIA QUERIES */
@mixin media($size) {
  @media screen and (max-width: map-get($breakpoints, $size)){
    @content; 
  }  
}